html,
body {
	padding: 0;
	background-color: var(--black);
	color: var(--white);
	margin: 0;
	overflow-x: hidden;
	font-family: Roboto Serif, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
		Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

::-webkit-scrollbar {
	width: 0px;
	background: transparent; /* make scrollbar transparent */
}

a {
	color: inherit;
	text-decoration: none;
}

* {
	box-sizing: border-box;
}

button {
	background: none;
	cursor: pointer;
	border: none;
	color: inherit;
}

:root {
	--black: black;
	--white: white;
	--black20: rgba(0, 0, 0, 0.6);
	--black30: rgb(17, 24, 39);
	--black50: rgb(20, 20, 20);
	--shadow10: rgba(0, 0, 0, 0.3);
	--shadow20: rgba(158, 155, 155, 0.3);
	--shadow30: 0 20px 25px -5px rgba(0, 0, 0, 0.1),
		0 10px 10px -5px rgba(0, 0, 0, 0.04);
	--red: rgb(220, 38, 38);
	--red10: rgba(185, 28, 28, 1);

	--blue: rgba(75, 85, 99, 1);
	--blue20: rgb(55, 65, 81);
}
